
body {
    color: gray;
    background-color: black;
    font-size: 1.5em;
    font-family:neon absolute
}

h1 {
    color:green;
    font-size: 3em;
    font-weight:bolder;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
   }

h2 {
    color: red;
    font-size: 2.5em;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    clear: both;
    margin-top: 1.5em;
}

h3 {
    color: olive;
    font-size: x-large;
    font-weight:bolder;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

h1, h2, h3 {
    border: 2px dashed  chartreuse;
    width: fit-content;

}

h1:hover, h2:hover, h3:hover {
    background-color: cornsilk;
}

/*images on the Robots page */
img#img1300 {
    align-self: center;
    /*float: right;*/
}
/*
img#img1400 {
     float: left; 
}*/

/*images on the main site*/

img#img2200 {
    transform: rotateZ(90deg);
    margin-top: 10%;
    margin-bottom: 10%;
   /* float: right; */
}

img#img2300 {
    transform: rotateZ(90deg);
    margin-top: 4%;
    margin-bottom: 5%;
  /*  float: left; */
}

/* images on contract 1*/
img#img2100 {
    transform: rotateZ(90deg);
    margin-top: 10px;
    margin-bottom: 1px;
}

img#img3100 {
    transform: rotateZ(90deg);
    
}

 /*images on contract 2*/
img#img3200 {
    transform: rotateZ(90deg);
}

div#div4100 {
    width: 100%;
    text-align: left;
}

img#img4100 {
    margin-bottom: 30px;
}

/*images on More About Us page*/
img#img5200, img#img5300, img#img5400 {
    transform: rotateZ(90deg);
    margin-top: 3em;
    margin-bottom: 4em;
}

img#img5500, img#img5600 {
    transform: rotateZ(90deg);
    margin-top: 4em;
    margin-bottom: 4em;
}


div#BodyText {
    font-size: 1em;
}
/*
div#CybertronText {
    font-size: 1em;
}
*/
div#entertainmenttext {
    font-size: 1em;
}

/*
div#cybertroneText p{
    font-size: 1.5em;
}*/

div#mytext {
    margin-top: 10%;
}

img#img1300, img#img2200 {
    float: right;
}

img#img1400, img#img2300, div#mytext {
    float: left;
}
/*
div#sidetosidetext {
    align-self: center;
}*/

p#middletext {
    width: 500px;
}

div#cybertronvideo {
    text-align: center;
}

